pkgbase = ctags-php-git
	pkgdesc = Generates an index file of language objects found in source files. Enhanced for php.
	pkgver = 20130808.c4256ba
	pkgrel = 1
	url = https://github.com/b4n/ctags
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	depends = glibc
	provides = ctags
	conflicts = ctags
	source = ctags-php-git::git://github.com/b4n/ctags.git#branch=better-php-parser
	sha256sums = SKIP

pkgname = ctags-php-git

